form {
    width: 100%;
}

.h1 p,
.close-icon {
    color: black;
    font-size: 1.2em;
}

.close-icon svg:hover {
    cursor: pointer;
}

.f1,
.h1 {
    height: 7vh;
    background-color: #efefee;
}

.f1 button {
    height: 5vh;
}

.m1 {
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media screen and (max-width: 768px) {
    .m1 {
        width: 80%;
    }
}

@media screen and (min-width: 769px) {
    .m1 {
        width: 30%;
    }
}